{% extends 'base.html.twig' %}

{% block title %}Hello FoodController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Création d'un aliment</h1>

        {{ form(form) }}
    </div>
{% endblock %}
